{% extends "base.html" %}
{% block title%}Budgets{% endblock %}
{% block content %}
    <div class="col s12 cards-container">
        <div class = "row">
        {% for name in summaries %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">{{ name }}</h5>
                  {% if 'percent' in summaries[name] %}
                  {% if summaries[name]['percent'] <= 50 %}
                  {% set ldColor = 'green' %}
                  {% elif 50 < summaries[name]['percent'] < 90 %}
                  {% set ldColor = 'yellow' %}
                  {% else %}
                  {% set ldColor = 'red' %}
                  {% endif %}
                  {% endif %}
                  <div id="ldBar{{ name }}" class="ldBar label-center" data-preset="circle" data-stroke="{{ ldColor }}"
                       data-value="{{ summaries[name]['percent'] }}" style="stroke: {{ ldColor }}"></div>
                  {% if 'made' in summaries[name] %}
                  <div class="text-center">{{ summaries[name]['made'] }}/{{ summaries[name]['amount'] }}</div>
                  {% elif 'spent' in summaries[name] %}
                  <div class="text-center">{{ summaries[name]['spent'] }}/{{ summaries[name]['amount'] }}</div>
                  {% else %}
                  <div class="text-center">0.00/{{ summaries[name]['amount'] }}</div>
                  {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
    <div data-toggle="modal" data-target="#addModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </div>

<div class="modal fade" id="addModal" tabindex="-1" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add budget</h5>
      </div>
        <form action="/budget" method="post" role="form">
            <div class="modal-body">
              <label for="budgetNameInput" class="form-label">Name</label>
              <input type="text" id="budgetNameInput" name="name">
              <label for="budgetValueInput" class="form-label">Value</label>
              <input name="amount" type="number" value="0" min="0" step="0.01" step="0.01" data-number-to-fixed="2" class="currency" id="budgetValueInput"></input>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
    </div>
  </div>
</div>

{% endblock %}