{% extends "base.html" %}
{% block title%}Budgets{% endblock %}
{% block content %}
    <div class="col s12 cards-container">
        <div class = "row">
        {% for name in summaries %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">{{ name }}</h5>
                  {% if 'percent' in summaries[name] %}
                  {% if summaries[name]['percent'] <= 50 %}
                  {% set ldColor = 'green' %}
                  {% elif 50 < summaries[name]['percent'] < 90 %}
                  {% set ldColor = 'yellow' %}
                  {% else %}
                  {% set ldColor = 'red' %}
                  {% endif %}
                  {% endif %}
                  <div id="ldBar{{ name }}" class="ldBar label-center" data-preset="circle" data-stroke="{{ ldColor }}"
                       data-value="{{ summaries[name]['percent'] }}" style="stroke: {{ ldColor }}"></div>
                  {% if 'made' in summaries[name] %}
                  <div class="text-center">{{ summaries[name]['made'] }}/{{ summaries[name]['amount'] }}</div>
                  {% elif 'spent' in summaries[name] %}
                  <div class="text-center">{{ summaries[name]['spent'] }}/{{ summaries[name]['amount'] }}</div>
                  {% else %}
                  <div class="text-center">0.00/{{ summaries[name]['amount'] }}</div>
                  {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}