{% extends "base.html" %}
{% block title%}Budgets{% endblock %}
{% block content %}
    <div class="col s12 cards-container">
        <div class = "row">
        {% for name in summaries %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ name }}</h5>
                <div id="ldBar{{ name }}" class="ldBar label-center" data-preset="circle" data-value="{{ summaries[name]['percent'] }}"></div>
                <div class="text-center">{{ summaries[name]['made'] }}/{{ summaries[name]['amount'] }}</div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}