{% extends "base.html" %}
{% block title%}Transactions{% endblock %}
{% block content %}
<table id="trans-table" class="display">
    <thead>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction['date'] }}</td>
        <td>{{ transaction['name'] }}</td>
        <td>{{ transaction['category'] }}</td>
        <td>{{ transaction['amount'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script>
    $(document).ready( function () {
        var table = $('#trans-table').DataTable( {
            "order": [[0, "asc"]],
            "pageLength": 100
        });

        // Initialize selects
        $('select').formSelect();

        $('.modal').modal();

        $('#trans-table tbody').on('click', 'tr', function() {
            var data = table.row(this).data();
            $("#transVendorInput").val(data[1]);
            $("#categorySelect option[value='" + data[2] + "']").prop('selected', true);
            $('select').formSelect();
            $('#transactionEditModal').modal('open');
        });

        $('#saveBtn').on('click', function() {
            $.post('/rules', $('#ruleForm').serialize());
            $('#transactionEditModal').modal('close');
        });
    } );

</script>

<!-- Modal Structure -->
<div id="transactionEditModal" class="modal">
    <div class="modal-content">
        <form id="ruleForm">
            <input name="vendorRegex" id="transVendorInput" type="text">
            <label for="transVendorInput">Vendor</label>
            <br>
            <select name="category" id="categorySelect">
                <option value="" disabled>Choose a category</option>
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <label>Category</label>
        </form>
    </div>
    <div class="modal-footer">
        <a id="saveBtn" class="modal-close waves-effect waves-green btn-flat">Save</a>
    </div>
</div>
{% endblock %}